@import "tailwindcss";

:root {
  --font-inter: 'Inter', sans-serif;
}

body {
  --brand: #7FD858;
  --brand-dark: #5EA53F;
  font-family: var(--font-inter);
}

::-webkit-scrollbar {
  width: 8px;            
  height: 8px;              
}

::-webkit-scrollbar-track {
  background: transparent; 
}


::-webkit-scrollbar-thumb {
  background: #b3b3b3;       
  border-radius: 9999px;     
}

::-webkit-scrollbar-thumb:hover {
  background: #999;
}

::-webkit-scrollbar-button {
  display: none;
  height: 0;
  width: 0;
}

